@import "@fontsource/jetbrains-mono/300.css";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/300-italic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-gutter: stable;
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.shiki {
	counter-reset: line-number;
	counter-increment: step 0;
}

.shiki code {
	display: grid;
	font-weight: 300;
}

.shiki .line {
	@apply border-l-4 border-transparent -ml-4 -mr-4 pl-2 pr-4;
}

.shiki .line::before {
	counter-increment: step;
	@apply mr-6 inline-block w-6 text-right text-slate-600 content-[counter(step)];
}

.shiki .line.highlighted {
	@apply border-cyan-400/65 bg-slate-600/20 before:text-slate-500/65;
}

.shiki .line.diff.add span:first-child::before,
.shiki .line.diff.remove span:first-child::before {
	@apply -ml-4 inline-flex w-4;
}

.shiki .line.diff.add {
	@apply border-teal-500/65 bg-teal-500/20 before:text-teal-500/65;
}

.shiki .line.diff.add span:first-child::before {
	@apply text-teal-500 content-["+"];
}

.shiki .line.diff.remove {
	@apply border-red-500/65 bg-red-500/20 opacity-70 *:!text-slate-300 before:text-red-500/65;
}

.shiki .line.diff.remove span:first-child::before {
	@apply text-red-500 content-["-"];
}
